* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: darkred;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  /* scroll-behavior: smooth; */
  /* overflow-x: hidden; */
}
nav {
  position: absolute;
  background: transparent none repeat scroll 0 0;
  transition: all 0.4s ease-in-out 0.1s;
  width: 100%;
  left: 0;
  top: 0;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: end;
}
.fixed {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  right: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.4s ease-in-out 0.1s;
  width: 100%;
  left: 0;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: end; 
}
nav ul {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
nav ul li {
  list-style: none;
  color: rgb(113, 113, 113);
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
nav ul li.active {
  color: #000034;
  background-color: #fff;
  border-radius: 5px;
}
.section {
  width: 100%;
  margin-bottom: 10px;
  padding: 100px 0 0 10px;
  background-color: #000034;
  /* scroll-margin: 10px; */
  color: #fff;
  font-size: 20px;
  overflow-x: hidden;
}
.section:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 320px) and (max-width: 769px) {
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    padding: 0.5rem;
    font-size: 0.9em;
  }
}
